footer {
	// border-top: thin solid $lightgrey;
	text-align: center;
	background: $darktheme;
	.TopFooterBlock{
		padding-top: 4rem;
		padding-bottom: 2rem;
		.FooterMenuBlock{
			max-width: 800px;
			margin: 0 auto;
			.FooterNav{
				ul{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					list-style: none;
					padding: 0;
					margin: 1.5rem 0 7rem;
					li{
						margin: 7px 11px;
						@media(min-width: 768px){
							margin: 10px 13px;
						}
						a{
							font-size: 14px;
							font-family: $secondaryFont;
							text-decoration: none;
							color: $white;
							letter-spacing: 0.75px;
							transition: 0.3s ease-in-out;
							@media(min-width: 768px){
								font-size: 14px;
							}
							&:hover{
								color: $themebase;
							}
						}
					}
				}
			}
			

			.Newsletter{
				max-width: 500px;
				margin: 0 auto;
				h3{
					@media(max-width: 768px){
						font-size: 3.5rem;
					}
				}
				form{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					margin-top: 1rem;
					input[type="email"]{
						flex-basis: 75%;
						font-size: 14px;
						border: 1px solid $lightgrey;
						padding: 10px 15px;
						border-radius: 50px 0 0 50px;
						&::placeholder{
							color: $offgrey;
						}
						&:focus{
							outline: none;
						}
					}
					input[type="submit"]{
						flex-basis: 25%;
						padding: 10px 15px;
						cursor: pointer;
						color: $white;
						font-size: 14px;
						background-color: $themebase;
						border-radius: 0 50px 50px 0;
						border: 1px solid transparent;
						transition: 0.3s ease-in-out;
						&:focus{
							outline: none;
						}
						&:hover{
							background-color: $base;
						}
					}
				}
				.SocialBlock{
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 2rem;
					ul{
						display: flex;
						align-items: center;
						list-style: none;
						margin: 0;
						padding: 0;
						height: 100%;
						justify-content: flex-start;
						li{
						  margin: 0 10px;
						  a {
							  display: block;
							  img {
								  width: 30px;
								  height: 30px;
							  }
						  }
						}
					  }
				}
			}
		}
	}
	.BottomFooterBlock{
		padding: 2rem 0;
		border-top: thin solid rgba($lightgrey, 0.25);
		opacity: .5;
		transition: all .3s ease;
		&:hover {
			opacity: 1;
		}
		.BtmFooterElements{
			display: flex;
			align-items: center;
			justify-content: space-between;
			p{
				font-size: 12px;
				font-family: $secondaryFont;
				color: $white;
				margin-bottom: 0;
				@media(max-width: 768px){
					font-size: 13px;
				}
				a{
					color: $white;
					text-decoration: none;
					transition: 0.3s all;
					&:hover {
						color:#fff;
						text-decoration: underline;
					}
				}
			}
		}
	}
	h3.WhiteText {
		margin-bottom: .6em;
	}
}

.scrollTop {
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: $lightgrey;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 9;
  border-radius: 50px;
  transition: all 0.4s ease-in-out 0s;
  a{
  	display: block;
  	img{
		width: 16px;
		margin: 3px auto 0;
		display: block;
	  }
	  
  }
  &:hover{
  	background-color: #fff;
  }
}

