header{
	background: $white;
	transition: 0.3s all;
	.DeliveryMessageBox{
		background-color: $lightgrey;
		padding: 1rem 0;
		font-size: 1.4rem;
		p{
			margin-bottom: 0;
			color: $darkbase;
			font-size: 1.2rem;
			padding: .4em 0;
			font-weight: 400;
			@media(min-width: 768px){
				font-size: 1.4rem;
			}
		}
		a{
			text-decoration: none;
			border-bottom: thin solid $grey;
			color: $grey;
			&:hover {
				color:$darkbase;
				border-bottom: thin solid $darkbase;
			}
		}
		.Dismiss{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			a{
				display: flex;
				border-bottom: none;
				border-radius: 4px;
				padding: .4em 0;
				transition: all .3s ease;
				&:hover {
					padding: .4em .8em;
					background:rgba(255,255,255,.6);
				}
				img{
					margin-left: 5px;
				}
			}
		}
	}
	.LogoSocialBlock{
		padding: 1.5rem 0 1rem;
		border-bottom: thin solid rgba($themebase, 0.25);
		.logoblock{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.SocialBlock{
			height: 100%;
			ul{
				display: flex;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;
				height: 100%;
				justify-content: flex-start;
				li{
					margin-right: 15px;
					&:last-child{
						margin-right: 0;
					}
					a {
						display: block;
						transition: all .4s ease;
						img {
							width:26px;
							height:26px;
						}
						&:hover {
							transition: all .6s ease;
							transform: scale(1.04);
						}
					}
				}
			}
		}
		.ShoppingOptions{
			height: 100%;
			ul{
				display: flex;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;
				height: 100%;
				justify-content: flex-end;
				li{
					margin-left: 15px;
					&:first-child{
						margin-left: 0;
					}
					&.whistlistIcon{
						position: relative;
						width: 30px;
						a{
							cursor: pointer;
						}
						.unfilled{
							opacity: 1;
							transition: 0.1s all;
						}
						.filledicon{
							position: absolute;
							left: 0;
							transition: 0.1s all;
							animation-name: wishlist-ani;
    						animation-duration: 1000ms;
    						opacity: 0;
    						top: 0;
    						width: 100%;
    						display: block;
						}
						&.filled{
							.unfilled{
								opacity: 0;
							}
							.filledicon{
								opacity: 1;
							}
						}
					}
					a{
						display: block;
						transition: all .4s ease;
						img{
							display: block;
							width: 100%;
							max-width:30px;
						}
						&:hover {
							transition: all .6s ease;
							transform: scale(1.08);
						}
					}
				}
			}
		}
	}
	.NavigationBlock{
		position: relative;
		.DropdownMenu{
			position: absolute;
			width: 100%;
			left: 0;
			top: 52px;
			background: $white;
			height: 0;
			transition: 0.5s ease-in-out;
			visibility: hidden;
			border-top:thin solid rgba(183,147,138,0.25);
			padding: 1em 0;
			.MegaMenuLinks{
				max-width: 700px;
				margin: 0 auto;
				h5{
					opacity: 0;
					visibility: hidden;
					transition: 0.2s linear;
					font-size: 16px;
					font-weight: bold;
					color: $grey;
					margin-top: 2rem;
					margin-bottom: 1em;
				}
			}
			ul{
				flex-direction: column;
				li{
					margin: 0;
					a{
						padding: 5px 0;
						opacity: 0;
						visibility: hidden;
						transition: 0.2s linear;
					}
				}
			}
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-content: center;
			justify-content: center;
			position: relative;
			li{
				margin: 0 3rem;
				a{
					text-decoration: none;
					color: $grey;
					transition: 0.3s all;
					font-size: 16px;
					display: block;
					padding: 1.5rem 0;
					&:hover{
						color: $themebase;
					}
				}
			}
		}
	}
	&.OpenDropdown{
		.NavigationBlock{
			.DropdownMenu{
				height: 220px;
				visibility: visible;
				border-top:thin solid rgba(183,147,138,0.25);
				box-shadow: rgba(0,0,0,.15) 0px 15px 15px;
				.MegaMenuLinks{
					h5{
						opacity: 1;
						visibility: visible;
					} 
				}
				ul{
					li{
						a{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

@keyframes wishlist-ani {
    0%   {transform: scale(1);}
    25%  {transform: scale(.5);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}

// .OverflowHidden{
// 	.c-hamburger{
// 		right: 1.5rem;
// 		top: 1.5rem;
// 		left: unset;
// 		position: fixed;
// 		span{
// 			&:before, &:after{
// 				background-color: $white;
// 			}
// 		}
// 	}
// }



.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 13px 0 0 0;
    padding: 0;
    width: 25px;
    height: 25px;
    z-index: 999;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    background: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
	cursor: pointer;
	top: 0rem;
	left: 0rem;
    transition: background 0.3s;
    &:focus {
        outline: none;
    }
      span {
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        height: 2px;
        background:$base;
        width: 20px;
        @media(min-width: 768px){
            top: 11px;
        }
        &:before, &:after {
          position: absolute;
          display: block;
          left: 0;
          
          height: 2px;
          background-color: $base;
          content: "";
        }
        &:before {
          top: -7px;
          width: 32px;
        }
        &:after {
          bottom: -7px;
          width: 32px;
        }
    }
}

.c-hamburger--htx {
  span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    &:before, &:after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;    
    }
    &:before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
      }
    &:after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    span {
      background: none;   

      &:before, &:after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      } 
    
      &:before {
        width: 100%;
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        width: 100%;
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.dropdown-menu {
	width: 100%;
	position: absolute !important;
	left: 0;
	top: 37px;
	z-index: 9;
	background: $white;	
	li{
		margin: 0 !important;
	}
 }
 
 .mega-dropdown {
	position: static !important;
 }

 .headspace {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 1s;
	background: $white;
	z-index: 99;
	
  }
  .headspace--hidden {
	box-shadow: 0 2px 5px rgba(204,204,204,0.5);
	transform: translate3d(0, -6.8rem, 0); /* y value should be -1 * height */
	@media(min-width: 768px){
		transform: translate3d(0, -14rem, 0);
	}
  }
  .headspace--fixed {
	position: fixed;
	transition: transform 1s;
	transform: translate3d(0, -5.3rem, 0); /* y value should be -1 * height */
	@media(min-width: 768px){
		transform: translate3d(0, -14rem, 0);
	}
	box-shadow: 0 2px 5px rgba(204,204,204,0.5);
  }
  
  /**
   * Optional feature: show header when hovering near top
   */
  .headspace--hidden:after {
	content: '';
	position: fixed;
	left: 0;
	right: 0;
	top: 4rem;
  }
  .headspace--hidden:hover {
	transform: translate3d(0, 0, 0);
  }
  main{
	margin-top: 12rem;
	@media(min-width: 360px){
		margin-top: 12.2rem;
	}
	@media(min-width: 400px){
		margin-top: 12.7rem;
	}
	@media(min-width: 768px){
		
	}
	@media(min-width: 768px){
		margin-top: 19.2rem;
	}
  }
  .close{
	  header{
		  margin-top: -69px;
		  @media(min-width: 360px){
		  	  margin-top: -62px;
		  }
		  @media(min-width: 768px){
			margin-top: -50px;
		  }
	  }
	  main{
		margin-top: 7rem;
		@media(min-width: 360px){
			margin-top: 7.5rem;
		}
		@media(min-width: 768px){
			margin-top: 14.2rem;
		}
	  }
	  .headspace--fixed, .headspace--hidden{
		transform: translate3d(0, 0rem, 0);
		@media(min-width: 768px){
			transform: translate3d(0, -9.2rem, 0);
		}
	  }
  }




  .sub-menu {
    /*padding: 0 0 0 2%;*/
	/*float: right;*/
	position: relative;
    left: -100%;
    top: 0;
    transition: all 0.75s ease;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: $base;
    border-radius: 0;
    z-index: 99;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    @media(min-width: 768px){
        align-items: center;
	}
	.CloseBtn{
		position: absolute;
		top: 2.5rem;
		right: 1.5rem;
		.one{
			transform: rotate(45deg);
			background-color: $white;
			width: 20px;
			height: 1px;
			display: block;
		}
		.two{
			transform: rotate(-45deg);
			background-color: $white;
			width: 20px;
			height: 1px;
			display: block;
		}
	}
    &.oppenned {
        left: 0;
        /*&:before{
            width: 100%;
        }
        &:after{
            height: 100%;
        }*/
	}
	
    .Registerlogin{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 1.5rem;
		padding-top: 2.5rem;
		border-bottom: thin solid rgba($white, 0.25);
		a{
			font-size: 1.6rem;
			color: $white;
			font-family: $secondaryFont;
			text-decoration: none;
		}
		span{
			color: $white;
			margin: 0 5px;
		}
	}

	.MobileMenu{
		&.DropdownOpen{
			transition: 0.5s linear;
			ul{
				li{
					&.category{
						padding-top: 1rem;
						margin-top: 1rem;
						border-top: thin solid rgba($white, 0.25);
						margin-left: -1rem;
						&:first-child{
							border-top: none;
							margin-top: 0;
						}
						a{
							font-size: 18px !important;
							font-weight: 600;
						}
					}
					&.menu-item-has-children{
						border-bottom: none;
						padding-bottom: 0;
						&:after{
							transform: rotate(-180deg);
							top: 2rem;
							right: 1.8rem;
						}
						ul{
							height: 100%;
							opacity: 1;
							visibility: visible;
							padding-top: 1rem;
							padding-left: 1rem;
							padding-bottom: 1rem;
							margin-bottom: 1rem;
							border-bottom: thin solid rgba($white, 0.25);
						}
					}
				}
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				padding: 1.5rem;
				border-bottom: thin solid rgba($white, 0.25);

				&.menu-item-has-children{
					position: relative;
					transition: 0.5s linear;
					&:after{
						content: '';
						position: absolute;
						background: url(../img/whitedropdwn.svg) 0 0 no-repeat;
						width: 20px;
						height: 10px;
						right: 1rem;
						top: 2.5rem;
						transition: 0.3s all;

					}
					ul{
						height: 0;
						opacity: 0;
						visibility: hidden;
						transition: 0.5s linear;
						padding-top: 0;
						li{
							padding: 0.5rem 0;
							border: none;
							h4{
								font-weight: 600;
								color: $white;
								margin-bottom: 0;
								font-size: 1.6rem;
								text-transform: lowercase;
							}
							a{
								text-transform: lowercase;
							}
						}
					}
				}
				a{
					font-size: 1.6rem;
					color: $white;
					font-family: $secondaryFont;
					text-decoration: none;
				}
			}
		}
		.SocialBlock{
			ul{
				li{
					border-bottom: transparent;
					margin: 0 2px;
				}
			}
		}
	}
    
}


.white-popup {
	position: relative;
	background: #FFF;
	padding: 40px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	transition: 1s all;
	h2{
		font-size: 3.5rem;
		color: $base;
		padding-left: 16px;
		line-height: 1;
		@media(min-width: 768px){
			font-size: 5.5rem;
		}
	}
	p{
		margin: 2rem 0 2rem;
	}
	form{
		label{
			font-size: 16px;
			color: $grey;
			display: block;
			width: 100%;
			margin-top: 1.5rem;
			margin-left: 16px;
			font-family: $secondaryFont;
		}
		input[type="email"],input[type="password"],input[type="text"]{
			width: 100%;
			font-family: $secondaryFont;
			padding: 1rem 2.4rem;
			border-radius: 50px;
			display: block;
			border: thin solid $lightgrey;
			background-color: $white;
			margin-top: 5px;
			&:focus{
				outline: none;
			}
		}
		
		a.forget{
			color: $themebase;
			font-size: 16px;
			font-family: $secondaryFont;
			margin-top: 2rem;
			margin-left:16px;
			display: inline-block;
		}
		.LoginRegister{
			margin-top: 3.5rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			input[type="submit"]{
				color: $white;
				font-size: 16px;
				font-family: $secondaryFont;
				text-decoration: none;
				padding-bottom: 3px;
				background-color: $themebase;
				transition: 0.3s ease-in;
				padding: 10px 50px;
				border-radius: 50px;
				border: none;
				cursor: pointer;
				&:hover{
					background-color: $darktheme;
					color: $offgrey;
				}
			}
			a{
				color: $white;
				font-size: 16px;
				font-family: $secondaryFont;
				text-decoration: none;
				padding-bottom: 3px;
				background-color: $themebase;
				transition: 0.3s ease-in;
				padding: 10px 50px;
				border-radius: 50px;
				border: none;
				cursor: pointer;
				margin-left: 2rem;
				&:hover{
					background-color: $darktheme;
					color: $offgrey;
				}
			}
		}
	}
  }