.BookingSessionBlock{
    .BookNow{
        background-color: $base;
        border-radius: 10px 10px 0 0;
        padding: 3rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        @media(min-width: 768px){
            border-radius: 10px 0 0 10px;
            padding: 5rem;
        }
        h2{
            line-height: 1.1;
            margin-bottom: 1.5rem;
        }
        h4{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 2rem;
            line-height: 1.8;
            span{
                font-weight: 100;
            }
        }
        h5{
            margin-bottom: 3.5rem;
        }
    }
    .RightDescription{
        margin-top: 3rem;
        padding: 2em 1em;
        @media(min-width: 768px){
            margin-top: 0;
        }
        h4{
            font-size: 24px;
            color: $base;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 2rem;
            line-height: 1.8;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0 0 2rem;
            &:last-child{
                margin-bottom: 0;
            }
            li{
                padding-left: 2.5rem;
                position: relative;
                margin-bottom: 1rem;
                &:last-child{
                    margin-bottom: 0;
                    @media(min-width: 768px){
                        margin-bottom: 3rem;
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 2px;
                    background-color: $base;
                    top: 10px;
                    left: 0;
                }
            }
        }
    }
}