.BaseBigButton{
    color: $white;
    font-size: 14px;
    font-family: $secondaryFont;
    text-decoration: none;
    padding-bottom: 3px;
    background-color: $themebase;
    transition: 0.3s ease-in;
    padding: 12px 40px;
    border-radius: 50px;
    &:hover{
        background-color: $darktheme;
        color: $offgrey;
    }
  }


.BaseBorderButton{
    color: $themebase;
    position: relative;
    font-size: 16px;
    font-family: $secondaryFont;
    text-decoration: none;
    padding-bottom: 3px;
    background-color: transparent;
    border: thin solid $themebase;
    transition: 0.3s ease-in;
    padding: 12px 40px;
    border-radius: 50px;
    &:hover{
        border-color: $darktheme;
        color: $darktheme;
    }
}