.CheckoutSection{
    padding-bottom: 8rem;
    .HaveCouponBlock{
        padding-top: 4rem;
        padding-bottom: 1rem;
        margin-bottom: 4rem;
        border-bottom: thin solid rgba($grey, 0.25);
        p{
            a{
                font-size: 1.6rem;
                margin-left: 3rem;
            }
        }
    }
    .BillingDetails{
        h3{
            font-family: $secondaryFont;
            font-size: 3rem;
            font-weight: normal;
            color: $base;
        }
        .Note{
            margin-top: 2.5rem;
            line-height: 1.5;
            a{
                text-decoration: none;
                color: $base;
                border-bottom: thin solid $base;
            }
        }
        input.BaseBigButton{
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
        form{
            label{
                width: 100%;
                display: block;
                font-size: 1.6rem;
                font-family: $secondaryFont;
                color: $grey;
                margin-top: 2rem;
            }
            input[type="text"],input[type="email"],select,textarea{
                width: 100%;
                display: block;
                border: none;
                border-bottom: thin solid $base;
                padding: 1.5rem 0;
                font-size: 1.6rem;
                font-family: $secondaryFont;
                background: transparent;
                &::placeholder{
                    color: $base;
                }
                &:focus{
                    outline: none;
                }
            }
            
            h4{
                margin: 2.5rem 0 -0.5rem;
            }
        }
        .OrderList{
            margin: 2rem 0 0;
            padding: 0 0 1rem;
            list-style: none;
            border-bottom: thin solid $base;
            &.Subtotal{
                li{
                    .themebase{
                        color: $themebase;
                    }
                }
            }
            &.Final{
                border-bottom: none;
                li{
                    .bold{
                        font-weight: 600;
                        color: $darktheme;
                    }
                    .SemiBold{
                        color: $darkbase;
                    }
                }
            }
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1rem;
                font-family: $secondaryFont;
                p{
                    margin-bottom: 0;
                    color: $grey;
                }
                span{
                    color: $base;
                }
            }
        }
        .ErrorMsgBlock{
            background-color: $lightgrey;
            padding: 2rem 2.5rem;
            p{
                color: $grey;
                margin: 0;
                line-height: 1.5;
            }
        }
        .TickAgreement{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1.5rem 0 5rem;
            input[type="checkbox"]{
                margin-right: 1.5rem;
            }
            p{
                margin-bottom: 0;
                color: $darkbase;
            }
        }
    }
}