.ConnectLeftRightContent{
    .LeftContent{
        padding-right: 0rem;
        @media(min-width: 768px){
            padding-right: 5rem;
        }
        h4{
            margin-bottom: 2.5rem;
            font-size: 2.5rem;
            @media(min-width: 768px){
                font-size: 3rem;
            }
        }
        h5{
            margin-bottom: 2.5rem;
        }
        p{
            line-height: 1.8;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .RightContent{
        margin-top: 2rem;        
        border-left: none;
        padding-left: 0;
        @media(min-width: 768px){
            margin-top: 0;
            padding-left: 3rem;
            border-left: thin solid rgba($grey, 0.1);
        }
        .EmailContent{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-family: $primaryFont;
                font-size: 3.5rem;
                color: $base;
                line-height: 1;
                margin-bottom: 2rem;
                span{
                    a{
                        font-family: $secondaryFont;
                        font-size: 18px;
                        color: $base;
                        text-decoration: none;
                        transition: 0.3s all;
                        &:hover{
                            color: $darktheme;
                        }
                    }
                }
            }
        }
        .SocialBlock{
            margin-top: 2.5rem;
            a {
                display: inline-block;
                margin-right: 10px;
                img {
                    width:30px;
                }
            }
        }
    }
}