.GreyBgImgWithContent{
    background: url(../img/greybg-img.png) 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    @media(min-width: 1024px){
        background-size: 100%;
    }
    .MidContent{
        padding: 0;
        @media(min-width: 1024px){
            padding: 0 8rem;
        }
        h4{
            font-family: Lora,Georgia,sans-serif;
            font-weight: 400;
            text-align: center;
            line-height: 1.8;
            margin: 0 auto;
            font-size: 2rem;
            max-width: 700px
        }
    }
}