.HomeBanner{
    position: relative;
    overflow: hidden;
    video{
        object-fit: cover;
        width:100%;
        min-height: 320px;
        @media(min-width: 768px){
            min-height: auto;
        }
    }
    img{
        width: 100%;
    }
    .BannerContent{
        position: absolute;
        width: 100%;
        top: 35%;
        text-align: center;
        z-index: 9;
        @media(min-width: 768px){
            top: 40%;
        }
        h1{
            font-size: 4rem;
            font-weight: 400;
            color: $white;
            text-align: center;
            margin: 0 0 1.5rem;
            line-height: 1;
            @media(min-width: 768px){
                font-size: 6rem;
            }
        }
        .WhiteBtn{
            font-size: 20px;
            text-decoration: none;
            color: $white;
            transition: 0.3s all;
            @media(min-width: 768px){
                font-size: 28px;
            }
            &:hover{
                color: #D3B7B0;
            }
        }
    }
}