.InsideBanner{
    background: $lightgrey;
    /*padding-top: 3rem;*/
    .BannerText{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        @media(min-width: 768px){
            justify-content: unset;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    h1{
        color: $base;
        margin: 0;
        font-size: 3.5rem;
        @media(min-width: 768px){
            font-size: 4.5rem;
        }
    }
    .BannerImg{
        img{
            width: auto;
            display: block;
            margin: 1rem auto 0;
            @media(min-width: 768px){
                width: auto;
                margin-top: 0;
            }
        }
    }
}

.ConnectBanner{
    background: $lightgrey;
    position: relative;
    /*padding-top: 3rem;*/
    min-height: 400px;
    display: flex;
    align-items: flex-end;
     @media(min-width: 768px){
        align-items: center;
     }
    .BannerText{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        margin-bottom: 0;
        margin-top: -2.5rem;
        @media(min-width: 768px){
            justify-content: unset;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    h1{
        color: $base;
        margin: 0;
        font-size: 4.5rem;
    }
    .BannerImg{
        img{
            width: auto;
            display: block;
        }
    }
    .FloatingRightimg{
        position: absolute;
        right: 0;
        top: 0;
    }
}


.InsideBannerWithContent{
    background: $lightgrey;
    padding: 2rem 0;
    &.ImageAtBottom{
        padding: 3rem 0 0;
    }
    .BannerImg{
        img{
            width: 100%;
            display: block;
        }
    }
    .BannerText{
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 0rem;
        @media(min-width: 768px){
            padding-right: 8rem;
        }
    }
    h1{
        font-size: 18px;
        margin: 0;
        line-height: 1.5;
        font-family: $secondaryFont;
    }
}


.HealOverflowBanner{
    position: relative;
    min-height: 450px;
    display: block;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 0rem;
    @media(min-width: 360px){
        margin-bottom: 2rem;
    }
    @media(min-width: 400px){
        margin-bottom: 3rem;
    }
    @media(min-width: 768px){
        align-items: center;
        display: flex;
        margin-bottom: 5rem;
    }
    .BannerText{
        padding-top: 3rem;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;
        @media(min-width: 768px){
            padding-top: 0rem;
        }
        h1{
            font-size: 5rem;
            color: $base;
            line-height: 1;
            margin-top: 0;
            font-family: $primaryFont;
            margin-bottom: 1.5rem;
            @media(min-width: 768px){
                font-size: 6rem;
            }
        }
        p{
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
    .OverflowBannerImg{
        position: relative;
        right: 0;
        top: 5rem;
        @media(min-width: 768px){
            position: absolute;
            top: 7rem;
        }
    }
}


.Nobanner{
    border-bottom: thin solid rgba(183,147,138,0.25)
}


.InsideBannerWithRightImgContent{
    position: relative;
    min-height: 450px;
    background: $lightgrey;
    display: block;
    align-items: flex-start;
    padding: 0;
    @media(min-width: 768px){
        align-items: center;
        display: flex;
    }
    .BannerText{
        padding-top: 3rem;
        @media(min-width: 768px){
            padding-top: 0rem;
        }
        h1{
            font-size: 5rem;
            color: $base;
            margin-top: 0;
            margin-bottom: 1.5rem;
            @media(min-width: 768px){
                font-size: 6rem;
            }
        }
        p{
            font-size: 1.8rem;
            margin-bottom: 0;
        }
    }
    .RightBannerImg{
        position: absolute;
        right: 0;
        bottom: 0;
        @media(min-width: 1400px){
            right: 3rem;
        }
        @media(min-width: 1600px){
            right: 15rem;
        }
        @media(min-width: 1900px){
            right: 24rem;
        }
        img{
            width: 100%;
            display: block;
        }
    }
}