.left_image_right_content{
	background-color:#B8948B;
	.row{
		>div{
			align-self: center;
			@media(max-width: 768px){
				padding: 0;
			}
			.imgWrap{
				@media(min-width: 768px){
					margin:0 -15px;
				}
		      img{
		      	width:100%;
		      	display: block;
		      }
			}
			.contentWrap{
				max-width:514px;
				@media(min-width: 360px){
					margin: 0 auto;
					text-align: center;
					padding: 2rem 1.5rem;
				}
				@media(min-width: 480px){
					margin: 0 auto;
				}
				@media(min-width: 768px){
					margin-left:5%;
					max-width:514px;
					text-align: unset;
					padding: 0;
				}
				h2{
					color:$white;
					margin-bottom: 2rem;
					@media(max-width: 768px){
						font-size: 5rem;
					}
				}
				p{
					color:$white;
					line-height: 1.8;
					margin-bottom: 2rem;
				}
				a{
					color:$white;
				}
				&.text-left-md{
					margin-left:auto;
					@media(min-width: 768px){
						margin-right:5%;
					}
					@media(min-width: 1100px){
						margin-left:5%;
					}
					@media(min-width: 1200px){
						margin-left:auto;
					}
				}
			}

		}
	}
}

.ContainerLeftImgRightContent{
	.RightContent{
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		text-align: center;
		@media(min-width: 768px){
			padding-left: 3rem;
			align-items: flex-start;
			text-align: unset;
		}
		h2{
			margin-bottom: -1rem;
			margin-top: 2rem;
			line-height: 1;
			@media(min-width: 768px){
				margin-bottom: 2rem;
				margin-top: 0;
			}
		}
		p{
			margin-bottom: 0rem;
			margin-top: 3rem;
			line-height: 1.8;
			@media(min-width: 768px){
				margin-bottom: 3rem;
				margin-top: 0;
			}
		}
		.NormalBaseLink{
			margin-top: 2rem;
			@media(min-width: 768px){
				margin-top: 0;
			}
		}
	}
	.LeftImg{
		margin-bottom: 0rem;
		@media(min-width: 768px){
			margin-bottom: 0;
		}
		img{
			width: 100%;
			display: block;
		}
	}
}

.ContainerRightImgLeftContent{
	padding-bottom: 0rem;
	@media(min-width: 768px){
		padding-bottom: 6rem;
	}
	.LeftContent{
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-right: 0rem;
		h2{
			margin-bottom: 2rem;
			margin-top: 2rem;
			line-height: 1;
			@media(min-width: 768px){
				margin-top: 0;
			}
		}
		p{
			margin-bottom: 3rem;
			line-height: 1.8;
		}
		@media(min-width: 768px){
			align-items: flex-start;
			text-align: unset;
			padding-right: 3rem;
		}
	}
	.RightImg{
		img{
			width: 100%;
			display: block;
		}
	}
}

.GiftLeftImgRightContent{
	h2{
		margin-bottom: 1rem;
	}
	&.GiftRightImgLeftContent{
		border-top: thin solid $lightgrey;
	}
	.headpara{
		font-size: 18px;
		margin-bottom: 4.5rem;
	}
	.LeftImg{
		margin-bottom: 0rem;
		@media(min-width: 768px){
			margin-bottom: 0;
		}
		img{
			width: 100%;
			display: block;
		}
	}
	.RightContent{
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 0;
		margin-top: 2rem;
		@media(min-width: 768px){
			padding-left: 3rem;
			margin-top: 0;
		}
		.BottomContent,.BottomContent1{
			margin-top: 2rem;
			/*display: none;*/
			p{
				margin-bottom: 0;
				margin-top: 2rem;
			}
		}
		form{
			select{
				background-color: transparent;
				border: none;
				border-bottom: thin solid $themebase;
				padding: 0 2rem 0.5rem 0;
				font-size: 16px;
				width: 100%;
				font-family: $secondaryFont;
				@media(min-width: 768px){
					padding: 0 8rem 1rem 0;
					width: auto;
				}
				&:focus{
					outline: none;
				}
			}
		}
		.Quantity{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 2rem;
			@media(min-width: 768px){
				justify-content: flex-start;
				margin-top: 0;
			}
			h6{
				font-size: 16px;
				margin-bottom: 0;
				margin-right: 1rem;
			}
			.Border{
				border: thin solid rgba(60,60,59,0.25);
				border-radius: 50px;
				padding: 0.4rem 4.5rem;
				font-size: 24px;
				@media(min-width: 768px){
					padding: 1rem 4.5rem;
					font-size: 16px;
				}
				a{
					text-decoration: none;
					color: $themebase;
				}
			}
		}
		.Addtocartbtn{
			color: $white;
			font-size: 12px;
			font-family: $secondaryFont;
			text-decoration: none;
			padding-bottom: 3px;
			background-color: $themebase;
			transition: 0.3s ease-in;
			padding: 10px 15px;
			border-radius: 50px;
			margin-top: 2rem;
			display: inline-block;
			width: 100%;
			&:hover{
				background-color: $darktheme;
				color: $offgrey;
			}
			@media(min-width: 768px){
				padding: 10px 30px;
				font-size: 16px;
				margin-top: 3rem;
				width: auto;
			}
		}
		.BaseBorderButton{
			display: inline-flex;
			align-items: center;
			margin-top: 2rem;
			font-size: 13px;
			padding: 3px 15px;
			cursor: pointer;
			width: 100%;
			img{
				width:30px;
				margin-left: 1rem;
			}
			@media(min-width: 768px){
				font-size: 16px;
				width: auto;
				margin-top: 3rem;
				padding: 5px 30px;
			}
			.unfilled{
                opacity: 1;
                transition: 0.1s all;
            }
            .filledicon{
                position: absolute;
                top: 3px;
                right: 28px;
                transition: 0.1s all;
                animation-name: wishlist-ani;
                animation-duration: 1000ms;
                opacity: 0;
                @media(min-width: 768px){
                	top: 5px;
                	right: 28px;
                }
            }
            &.filled{
                .unfilled{
                    opacity: 0;
                }
                .filledicon{
                    opacity: 1;
                }
            }
		}
	}
}