.MeetArtist{
    padding: 4rem 0;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    @media(min-width: 768px) {
        padding: 18rem 0;
        background-size: auto;
    }

    h2 {
        text-align: center;
        margin: 0;
    }
}