.MyaccountBlock{
    .VerticalTabs{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        .TabsLists{
            flex-basis: 25%;
            list-style: none;
            margin: 0;
            padding: 0 0 0 0;
            border-right: thin solid $lightgrey;
            h4{
                font-size: 24px;
                font-weight: 600;
                color: $base;
                margin-bottom: 4rem;
            }
            li{
                padding: 0 5rem 0 0;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $grey;
                    padding: 1.5rem 2.5rem;
                    border-radius: 50px;
                    font-family: $secondaryFont;
                    font-size: 16px;
                    svg{
                        width: 15px;
                        height: 15px;
                        margin-right: 1rem;
                        fill: $grey;
                    }
                    &.selected{
                        background-color: $base;                        
                        position: relative;
                        color: $white;
                        &:after{
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 75%;
                            border-right: 2px solid $base;
                            right: -51px;
                            top: 7px;
                        }
                        svg{
                            fill: $white;
                        }
                    }
                }
            }
        }
        .DetailsBlock{
            flex-basis: 75%;
            padding: 0 0 0 5rem;
            article{
                display: none;
                h3{
                    font-size: 20px;
                    color: $darkbase;
                    font-family: $secondaryFont;
                    padding-bottom: 1.5rem;
                    border-bottom: thin solid $lightgrey;
                    margin-bottom: 5rem;
                }
                h6{
                    font-size: 16px;
                    font-weight: 600;
                    color: $grey;
                    margin-bottom: 3rem;
                }
                p{
                    margin-bottom: 3rem;
                }
                .RecentOrderList{
                    .Heading{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        p{
                            margin-bottom: 0;
                            color: $darkbase;
                        }
                        a{
                            color: $themebase;
                        }
                    }
                    table {
                      border: 1px solid $themebase;
                      border-collapse: collapse;
                      margin: 0;
                      padding: 0;
                      width: 100%;
                      // table-layout: fixed;
                      tr{
                        border: 1px solid $themebase;
                        padding: 0.3rem;
                      }
                      th, td{
                        padding: 8px 10px;
                        text-align: left;
                        border-right: 1px solid $themebase;
                        background-color: $offwhite;
                        @media(min-width: 992px){
                            padding: 12px 10px;
                        }
                        &:last-child{
                            border-right: 0;
                        }
                      }
                      th{
                        font-size: 1.6rem;
                        font-weight: normal;
                      }
                      td{
                        // word-break: break-word;
                        font-size: 1.4rem;
                      }
                      td[data-label=Action]{
                        /*// justify-content: space-between;*/
                        @media(min-width: 992px){
                            display: flex;
                        }
                        a{
                            display: inline-block;
                            color: $grey;
                            padding: 0 0.4rem;
                            border-left: 1px solid lighten($themebase, 10%);
                            @media(min-width: 500px){
                                padding: 0 0.7rem;
                            }
                            @media(min-width: 1200px){
                                padding: 0 1rem;
                            }
                            &:first-child{
                                border-left: 0;
                                padding-left: 0;
                                @media(min-width: 1400px){
                                    padding-left: 0
                                }
                            }
                            &:last-child{
                                @media(max-width: 991px){
                                    padding-right: 0;
                                }
                            }
                        }
                      }
                      @media(max-width: 991px){
                        border: 0;
                        thead{
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }
                        tbody{
                            tr{
                                &:nth-child(even){
                                    background-color: lighten($offwhite, 3%);
                                }
                            }
                        }
                        tr{
                            border-bottom: 3px solid $themebase;
                            display: block;
                            margin-bottom: .625em;
                        }
                        th, td{
                            border-right: none;
                        }
                        td{
                            border-bottom: 1px solid $themebase;
                            display: block;
                            // font-size: .8em;
                            text-align: right;
                            &:before{
                                content: attr(data-label);
                                float: left;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            &:last-child{
                                border-bottom: 0;
                            }
                        }
                      }
                    }
                }
                .AccountInfoWrap{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 4rem;
                    @media(max-width: 767px){
                        flex-direction: column;
                    }
                    &.FlexJC_unset{
                        justify-content: unset;
                    }
                    >div{
                        flex: 0 0 33.333%;
                        padding: 0 2rem;
                        border-right: 1px dashed $lightgrey;
                        flex: 1;
                        @media(max-width: 767px){
                            padding: 2rem 0;
                            border-bottom: 1px dashed $lightgrey;
                            border-right: none;
                        }
                        &:first-child{
                            padding-left: 0;
                        }
                        &:last-child{
                            border-right: 0;
                            padding-right: 0;
                        }
                    }
                    p{
                        margin-bottom: 2rem;
                    }
                    a{
                        color: $themebase;
                        @include Ease(0.25s);
                        &:hover{
                            color: darken($themebase, 15%);
                            text-decoration: underline;
                        }
                    }
                    .head{
                        font-family: $secondaryFont;
                        font-size: 1.6rem;
                        color: $themebase;
                        a{
                            display: inline-block;
                            vertical-align: sub;
                            margin-left: 5px;
                            &:hover{
                                .Icon{
                                    fill: darken($lightgrey, 25%);
                                }
                                img{
                                    opacity: 0.75;
                                }
                            }
                            img{
                                width: 18px;
                                height: 18px;
                                @include Ease(0.25s);
                            }
                        }
                    }
                }
                .dashboardBody{
                    .titleTableWrap{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        h4{
                            color: $base;
                            font-size: 1.6rem;
                            margin-bottom: 0;
                        }
                        a{
                            color: $base;
                            text-decoration: underline;
                            font-size: 1.6rem;
                        }
                        .Filter{
                            >span{
                                padding: 0 5px;
                                &:first-child{
                                    padding-left: 0;
                                }
                                &:last-child{
                                    padding-right: 0;
                                }
                            }
                            .FilterSelect{
                                background-color: $white;
                                padding: 0.3rem 10px;
                                cursor: pointer;
                            }
                        }
                    }
                    .TableWrap{
                        padding-bottom: 2rem;
                    }
                    table {
                      border: 1px solid $themebase;
                      border-collapse: collapse;
                      margin: 0;
                      padding: 0;
                      width: 100%;
                      // table-layout: fixed;
                      tr{
                        border: 1px solid $themebase;
                        padding: 0.3rem;

                      }
                      th, td{
                        padding: 8px 10px;
                        text-align: left;
                        border-right: 1px solid $themebase;
                        background-color: $offwhite;
                        @media(min-width: 992px){
                            padding: 12px 10px;
                        }
                        &:last-child{
                            border-right: 0;
                        }
                      }
                      th{
                        font-size: 1.6rem;
                        font-weight: 600;
                      }
                      td{
                        // word-break: break-word;
                        font-size: 1.4rem;
                      }
                      td[data-label=Action]{
                        // justify-content: space-between;
                        @media(min-width: 992px){
                            display: flex;
                        }
                        a{
                            display: inline-block;
                            color: $grey;
                            padding: 0 0.4rem;
                            border-left: 1px solid lighten($lightgrey, 10%);
                            @media(min-width: 500px){
                                padding: 0 0.7rem;
                            }
                            @media(min-width: 1200px){
                                padding: 0 1rem;
                            }
                            &:first-child{
                                border-left: 0;
                                padding-left: 0;
                                @media(min-width: 1400px){
                                    padding-left: 0
                                }
                            }
                            &:last-child{
                                @media(max-width: 991px){
                                    padding-right: 0;
                                }
                            }
                        }
                      }
                      @media(max-width: 991px){
                        border: 0;
                        thead{
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }
                        tbody{
                            tr{
                                &:nth-child(even){
                                    background-color: lighten($offwhite, 3%);
                                }
                            }
                        }
                        tr{
                            border-bottom: 3px solid $lightgrey;
                            display: block;
                            margin-bottom: .625em;
                        }
                        th, td{
                            border-right: none;
                        }
                        td{
                            border-bottom: 1px solid $lightgrey;
                            display: block;
                            // font-size: .8em;
                            text-align: right;
                            &:before{
                                content: attr(data-label);
                                float: left;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            &:last-child{
                                border-bottom: 0;
                            }
                        }
                      }
                    }
                }
                .accountDetails{
                    form{
                        label{
                            width: 100%;
                            font-size: 16px;
                            color: $grey;
                            margin-bottom: 1rem;
                            display: block;
                        }
                        input[type="text"],input[type="email"],input[type="password"]{
                            width: 100%;
                            display: block;
                            padding: 1rem 0;
                            border: none;
                            border-bottom: thin solid $themebase;
                            margin-bottom: 2rem;
                            &:focus{
                                outline: none;
                            }
                        }
                        input:-internal-autofill-selected {
                            background-color: transparent;
                        }
                        p{
                            display: block;
                            margin-bottom: 2rem;
                            color: $themebase;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                        .SubmitBlock{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            margin-top: 2rem;
                            input[type="submit"]{
                                border: none;
                                cursor: pointer;
                                font-size: 16px;
                            }      
                            a{
                                display: flex;
                                align-items: center;
                                margin-left: 5rem;
                                color: $grey;
                                text-decoration: none;
                                img{
                                    margin-right: 0.5rem;
                                }
                            }                      
                        }
                    }
                }
            }
        }
    }
}