.PrivateSessionsSection{
    padding: 3rem 0;
    position: relative;
    @media(min-width: 768px){
        padding: 17.2rem 0;
    }
    @media(min-width: 1600px){
        padding: 27.35rem 0;
    }
    .ContentBlock{
        margin-top: 2rem;
        h2{
            margin-bottom: 2rem;
            padding-left: 13px;
        }
        p{
            margin-bottom: 3rem;
            line-height: 1.5;
        }
        .NormalWhiteLink{
            margin-top: 1.5rem;
        }
        @media(min-width: 768px){
            margin-top: 0;
        }
    }
    .FloatingImg{
        position: absolute;
        right: 0%;
        top: 0;
        height: 100%;
        width: 30%;
        background-size: cover !important;
        @media(min-width: 768px){
            width: 27%;
        }
        img{
            width: 100%;
            display: block;
        }
    }
}


.GroupSessions{
    .HeadingWithFilter{
        .ProductSortingDropdown{
            .filters-select{
                padding: 1rem 5rem 1rem 1rem !important;
                border-radius: 50px;
            }
        }
    }
    .ShowingProducts{
        .SessionDate{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
            border-top: thin solid $lightgrey;
            .DateContent{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                .Date{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-right: 3rem;
                    h3{
                        font-family: $secondaryFont;
                        line-height: 0.65;
                        margin-bottom: 0;
                        background-color: $themebase;
                        color: $white;
                        padding: 2.5rem;
                        border-radius: 50%;
                        font-size: 5rem;
                        span{
                            font-size: 16px;
                        }
                    }
                }
                .Content{
                    h4{
                        font-size: 2.4rem;
                        color: $base;
                        margin-bottom: 1rem;
                    }
                    p{
                        img{
                            margin-right: 5px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .KnowMore{

            }
        }
    }
}


.GetInTouchFormBlock{
    h2{
        line-height: 1;
        margin-bottom: 4rem;
    }
    .LeftImgRightForm{
        .LeftImg{
            img{
                width: 100%;
                display: block;
            }
        }
        .RightForm{
            h4{
                font-size: 2.4rem;
                margin-bottom: 0;
            }
            form{
                label{
                    font-size: 16px;
                    width: 100%;
                    display: block;
                    color: $white;
                    font-family: $secondaryFont;
                    margin-top: 2rem;
                }
                input[type="text"]{
                    font-size: 16px;
                    width: 100%;
                    display: block;
                    color: $white;
                    background-color: transparent;
                    font-family: $secondaryFont;
                    border: none;
                    border-bottom: thin solid rgba($white, 0.5);
                    padding: 1rem 0;
                    &:focus{
                        outline: none;
                    }
                }
                input[type="submit"]{
                    color: $themebase;
                    font-size: 16px;
                    font-family: $secondaryFont;
                    text-decoration: none;
                    padding-bottom: 3px;
                    background-color: $white;
                    transition: 0.3s ease-in;
                    padding: 10px 40px;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;
                    margin-top: 2rem;
                    &:hover{
                        background-color: $darktheme;
                        color: $offgrey;
                    }
                }
            }
        }
    }
}