.RelatedProductSlider{
    .RelatedProduct{
        .slick-list.draggable{
            padding: 0 1rem;
            @media(min-width: 768px){
                padding: 0;
            }
        }
        .ProductDetails{
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                .ProductCard{
                    margin-top: 2.5rem;
                    img{
                        width: 100%;
                        margin-bottom: 0.75rem;
                        border-radius: 5px;
                    }
                    h5{
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 0;
                        line-height: 1.3;
                        span{
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .slick-arrow{
            width: 15px;
            height: 45px;
            top: 55%;
            // background: $base;
            @media(min-width: 768px){
                top: 50%;
                width: 25px;
            }
            &.slick-prev{
                left: 7px;
                background: url(../img/BigArwLeft.svg) 0 0 no-repeat;
                background-size: 50%;
                @media(min-width: 768px){
                    left: -13px;
                }
            }
            &.slick-next{
                right: 2px;   
                background: url(../img/BigArwRight.svg) 0 0 no-repeat;
                background-size: 50%;
                @media(min-width: 768px){
                    right: -25px; 
                }
            }
            &:before{
                display: none;
            }
        }
    }
    .slick-slider {
        margin:0 -15px;
    }
    .slick-slide{
        margin-right:15px;
        margin-left:15px;
    }
}