.RequestFormSection{
    form{
        margin: 0 auto;
        max-width: 700px;
        label{
            margin-top: 2.5rem;
            width: 100%;
            display: block;
        }
        input[type="text"],input[type="email"],textarea{
            width: 100%;
            border: 0;
            border-bottom: thin solid $themebase;
            padding: 10px 0 5px;
            background: transparent;
            &::placeholder{
                color: rgba($grey, 0.5);
            }
            &:focus{
                outline: none;
            }
        }
        .SubmitButton{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.5rem;
            input[type="submit"]{
                padding: 10px 35px;
                cursor: pointer;
                color: $white;
                font-size: 16px;
                background-color: $themebase;
                border-radius: 50px;
                border: 1px solid transparent;
                transition: 0.3s ease-in-out;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $base;
                }
            }
        }
        // textarea{
        //     height: 75px;
        // }
    }
}