.Section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media screen and (min-width: 768px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.SmallContainer {
  max-width: 800px;
  @media (min-width: 992px) {}
  @media (min-width: 768px) {}
}
