.ShoppingCartBlock{
    padding-top: 0rem;
    padding-bottom: 6rem;
    margin-top: 3rem;
    h2{
        margin-bottom: 1.5rem;
    }
    .ProductListHead{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 1.5rem 0;
        border-bottom: thin solid rgba($grey, 0.1);
        .Product{
            flex-basis: 35%;

        }
        .Price,.Quantity,.Subtotal{
            flex-basis: 20%;
        }
        .Close{
            flex-basis: 5%;
        }
    }
    .CartList{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 1rem 0;
            border-bottom: thin solid rgba($grey, 0.1);
            .Product{
                flex-basis: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media(min-width: 768px){
                    flex-basis: 35%;
                }
                a{
                    text-decoration: none;
                }
                .Img{
                    margin-right: 1.5rem;
                    img{
                        width: 100%;
                        display: block;
                    }
                }
                .ProductDetails{
                    h4{
                        font-size: 18px;
                        margin-bottom: 1.5rem;
                    }
                    p{
                        font-size: 14px;
                        color: #666666;
                        margin: 5px 0;
                        line-height: 1;
                    }
                }
            }
            .Price,.Quantity,.Subtotal{
                display: flex;
                flex-basis: 50%;
                margin-top: 2rem;
                @media(min-width: 768px){
                    flex-basis: 20%;
                    margin-top: 0;
                }
                .MobileOnly{
                    margin-right: 3rem;
                }
                a{
                    text-decoration: none;
                    color: $grey;
                    display: inline-block;
                    padding: 0 1rem
                }
                .Border{
                    border: thin solid rgba($grey, 0.1);
                    border-radius: 50px;
                    padding: 0.3rem;
                }
            }
            .Close{
                flex-basis: 50%;
                justify-content: center;
                display: flex;
                margin-top: 2rem;
                @media(min-width: 768px){
                    flex-basis: 5%;
                    display: unset;
                    justify-content: unset;
                    margin-top: 0;
                }
            }
        }
    }
    .CouponCartUpdate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
        border-bottom: thin solid rgba($grey, 0.1);
        flex-wrap: wrap;
        .CouponCode{
            flex-basis: 45%;
            form{
                display: flex;
                align-items: center;
                input[type="text"]{
                    border: thin solid $lightgrey;
                    padding: 1rem 2rem;
                    width: 100%;
                    font-size: 16px;
                    border-radius: 50px;
                    &::placeholder{
                        color: $base;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                input[type="submit"]{
                    color: $white;
                    cursor: pointer;
                    font-size: 16px;
                    font-family: $secondaryFont;
                    text-decoration: none;
                    padding-bottom: 3px;
                    background-color: $themebase;
                    transition: 0.3s ease-in;
                    padding: 1.2rem 5rem;
                    border-radius: 50px;
                    border: none;
                    margin-left: 1rem;
                    &:hover{
                        background-color: $darktheme;
                        color: $offgrey;
                    }
                }
            }
        }
    }
    .CheckoutBlock{
        padding-top: 3rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        .CartTotal{
            flex-basis: 20%;
            padding-right: 3rem;
            h4{
                font-size: 2.4rem;
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.75rem;
                    span{
                        color: $themebase;
                    }
                    &:last-child{
                        span{
                            color: $grey;
                        }
                    }
                }
            }
        }
        .CheckOutButton{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            height: 100%;
            .BaseBigButton{
                font-size: 1.6rem;
            }
        }
    }
}