.SortingProductLists{
    .HeadingWithFilter{
        display: block;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 2rem;
        @media(min-width: 768px){
            display: flex;
            margin-bottom: 2rem;
        }
        .HeadingWithResuts{
            p{
                margin: 0;
                color: $themebase;
            }
        }
        .ProductSortingDropdown{
            .filters-select{
                background: none;
                border: thin solid darken($lightgrey,20%);
                padding: 1rem;
                width: 100%;
                font-size:14px;
                opacity: .5;
                font-family: $secondaryFont;
                margin-top: 2rem;
                transition: opacity .3s ease;
                &:hover {
                    opacity: 1;
                }
                &:focus{
                    opacity: 1;
                    outline: none;
                }
                @media(min-width: 768px){
                    width: auto;
                    margin-top: 0;
                }
            }
        }
    }

    .ShowingProducts{
        .ProductWithOptions{
            position: relative;
            &:hover{
                .OptionList{
                    z-index: 9;
                    ul{
                        li{
                            a{
                                opacity: 1;
                                visibility: visible;
                                animation: 1.5s ease 0s beat;
                                img {
                                    width:30px;
                                }
                            }
                        }
                    }
                }
            }
            .OptionList{
                position: absolute;
                bottom: 70px;
                right: 15px;
                z-index: -1;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: flex-end;
                    justify-items: flex-end;
                    li{
                        margin: 0 5px;
                        a{
                            opacity: 0;
                            visibility: hidden;
                            width: 45px;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $white;
                            border-radius: 50%;
                            transition: 0.75s ease-in-out;
                            animation: heartbeat 1.5s ease-in-out;
                            img{
                                transition: 1.5s ease-in-out;
                            }
                        }
                        &.whistlistIcon{
                            position: relative;
                            a{
                                cursor: pointer;
                            }
                            .unfilled{
                                opacity: 1;
                                transition: 0.1s all;
                            }
                            .filledicon{
                                position: absolute;
                                left: 12px;
                                transition: 0.1s all;
                                animation-name: wishlist-ani;
                                animation-duration: 1000ms;
                                opacity: 0;
                            }
                            &.filled{
                                .unfilled{
                                    opacity: 0;
                                }
                                .filledicon{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                .ProductCard{
                    margin-top: 2.5rem;
                    img{
                        width: 100%;
                        margin-bottom: 0.75rem;
                        border-radius: 10px;
                    }
                    h5{
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 0;
                        line-height: 1.3;
                        span{
                            font-weight: 400;
                        }
                    }
                }
            }   
        } 
    }
}