.TestinomialSliders{
    padding-top: 6rem;
    padding-bottom: 6rem;
    .slider{
        .SliderContent{
            max-width: 700px;
            margin: 0 auto;
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            position: relative;
            padding: 2rem;
            min-height: 525px;
            @media(min-width: 768px){
                padding: 0;
                min-height: 430px;
                padding: 2rem 4rem;
            }
            &:before{
                content: "";
                position: absolute;
                background: url(../img/quoteleft.svg) 0 0 no-repeat;
                width: 35px;
                height: 35px;
                left: 15px;
                top: 0px;
                background-size: 50%;
                @media(min-width: 768px){
                    left: 0px;
                    top: 45px;
                    background-size: 75%;
                }
            }
            &:after{
                content: "";
                position: absolute;
                background: url(../img/quoteright.svg) 0 0 no-repeat;
                width: 35px;
                height: 35px;
                right: 10px;
                bottom: 50px;
                background-size: 50%;
                @media(min-width: 768px){
                    right: 0px;
                    bottom: 100px;
                    background-size: 75%;
                }
            }
            h4{
                line-height: 1.7;
                font-size: 16px;
                font-weight: 400;
                @media(min-width: 768px){
                    font-size: 16px;
                }
            }
            h5{
                color: $grey;
                font-weight: 600;
                font-size: 20px;
                font-style: italic;
                margin-bottom: 0;
                margin-top: 3rem;
                span{
                    font-weight: 100;
                    font-size: 16px;
                    font-style: italic;
                    color: $themebase;
                }
            }
        }
        .slick-arrow{
            width: 20px;
            height: 25px;
            z-index: 1;
            @media(min-width: 768px){
                width: 45px;
                height: 45px;
            }
            // background: $base;
            &.slick-prev{
                left: 0;
                background: url(../img/BigArwLeft.svg) 0 0 no-repeat;
                background-size: 60%;
                @media(min-width: 768px){
                    background-size: auto;
                }
            }
            &.slick-next{
                right: -10px;   
                background: url(../img/BigArwRight.svg) 0 0 no-repeat;
                background-size: 60%;
                @media(min-width: 768px){
                    background-size: auto;
                    right: 0;   
                }
            }
            &:before{
                display: none;
            }
        }
    }
}