.TopImageBottomTextProduct{
    h2{
        font-family: $primaryFont;
        text-align: center;
        color: $base;
        margin-bottom: 2.5rem;
    }
    p {
        text-align: center;
        br{
            @media(max-width: 768px){
                display: none;
            }
        }
        &.Content {
            max-width: 700px;
            margin: 1.5em auto 1em
        }
    }
    .TopImgBtmTextCard{
        .ProductWithOptions{
            position: relative;
            &:hover{
                .OptionList{
                    z-index: 9;
                    ul{
                        li{
                            a{
                                opacity: 1;
                                visibility: visible;
                                animation: 1.5s ease 0s beat;
                            }
                        }
                    }
                }
            }
            .OptionList{
                position: absolute;
                bottom: 70px;
                right: 5px;
                z-index: -1;
                @media(min-width: 1024px){
                    right: 15px;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: flex-end;
                    justify-items: flex-end;
                    li{
                        margin: 0 5px;
                        a{
                            opacity: 0;
                            visibility: hidden;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $white;
                            border-radius: 50%;
                            transition: 0.75s ease-in-out;
                            animation: heartbeat 1.5s ease-in-out;
                            @media(min-width: 1024px){
                                width: 45px;
                                height: 45px;
                            }
                            img{
                                transition: 1.5s ease-in-out;
                                width: 30px;
                            }
                        }
                        &.whistlistIcon{
                            position: relative;
                            a{
                                cursor: pointer;
                            }
                            .unfilled{
                                opacity: 1;
                                transition: 0.1s all;
                            }
                            .filledicon{
                                position: absolute;
                                left: 8px;
                                transition: 0.1s all;
                                animation-name: wishlist-ani;
                                animation-duration: 1000ms;
                                opacity: 0;
                            }
                            &.filled{
                                .unfilled{
                                    opacity: 0;
                                }
                                .filledicon{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                .ProductCard{
                    margin-top: 2.5rem;
                    img{
                        width: 100%;
                        margin-bottom: 0.75rem;
                        border-radius: 10px;
                    }
                    h5{
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 0;
                        line-height: 1.3;
                        span{
                            font-weight: 400;
                        }
                    }
                }
            }   
        }        
    }
    .ViewAllProductsLink{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        a{

        }
    }
}