* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 400 16px/1.4 $secondaryFont;
  color: $grey;
  transition: all .4s .3s ease-in;
  //overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	// overflow: hidden;
}
a{
  font-family: $secondaryFont;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $secondaryFont;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: inherit;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1;
  color: $grey;
}

h1 {
  font-size: 6rem;
  font-family: $primaryFont;
}

h2 {
  font-size: 3.8rem;
  font-family: $primaryFont;
  @media (min-width: 768px){
    font-size: 5rem;
  }
}

h3 {
  font-size: 4rem;
  font-family: $primaryFont;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6{
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}

.DesktopOnly{
  display: none;
  @media (min-width: 768px) {
      display: block;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.TextCenter{
  text-align: center;
}

.WhiteText{
  color: $white;
}

.BaseColorText{
  color: $base;
}

@keyframes heartbeat {
  from {
    transform: translateX(-50%) scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: translateX(-50%) scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: translateX(-50%) scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: translateX(-50%) scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: translateX(-50%) scale(1.2);
    animation-timing-function: ease-out;
  }
}


@keyframes heartbeat1 {
  from {
    transform:scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform:scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform:scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform:scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform:scale(1.2);
    animation-timing-function: ease-out;
  }
}


@keyframes beat {
  0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }
}

.NormalBaseLink{
  color: $themebase;
  font-size: 18px;
  font-family: $secondaryFont;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: thin solid $base;
  transition: 0.3s ease-in;
  &:hover{
    border-bottom: thin solid $darktheme;
    color: $darkbase;
  }
}

.NormalWhiteLink{
  color: $white;
  font-size: 18px;
  font-family: $secondaryFont;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: thin solid $white;
  transition: 0.3s ease-in;
  &:hover{
    border-bottom: thin solid $themebase;
    color: $offgrey;
  }
}

.SocialBlock{
  // height: 100%;
  ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: flex-start;
    // li{
    //   margin: 0 10px;
    // }
  }
}

.OffWhiteSection{
  background-color: $offwhite;
}

.BaseColorBg{
  background-color: $base;
}

.ThemeBaseBg{
  background-color: $themebase;
}

.DarkThemeBg{
  background-color: $darktheme !important;
}

.Breadcrum{
    padding: 1.5rem 0;
  ul{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      margin: 0;
    li{
        padding-right: 2rem;
        position: relative;
        font-size: 14px;
        a{
            text-decoration: none;
            font-size: 14px;
            color: $base;
            transition: all .3s ease;
            font-family: $secondaryFont;
            &:hover {
              color: $black;
            }
        }
        &:after{
            content: '/';
            position: absolute;
            right: 6px;
            top: 0;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
  }
}



.Pt{
  padding-top: 3rem;
  @media (min-width: 768px){
    padding-top: 6rem;
  }
}

.mr-5{
    margin-right: auto;
    @media (min-width: 1100px){
        margin-right: 7% !important;
    }
    @media (min-width: 1200px){
        margin-right: auto !important;
    }
}

select{
  -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("../img/arrow-bottom.svg") no-repeat 98% 50% !important;
    padding-right: 4rem !important;
    @media (min-width: 768px){
      background: url("../img/arrow-bottom.svg") no-repeat 90% 50% !important;
    }
}