$base : #826756;
$darkbase : #705343;
$grey : #3C3C3B;
$black: #000;
$white: #fff;
$offwhite: #F7F4ED;
$lightgrey: #ECEADE;
$offgrey: #CCCCCC;
$themebase : #B8948B;
$darktheme : #514033;

$primaryFont: 'Rathouly', 'Georgia', sans-serif;
$secondaryFont: 'Lora', 'Georgia', sans-serif;
