@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.woff2') format('woff2'),
        url('../fonts/Georgia.woff') format('woff'),
        url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rathouly';
    src: url('../fonts/Rathouly-PersonalUse.woff2') format('woff2'),
        url('../fonts/Rathouly-PersonalUse.woff') format('woff'),
        url('../fonts/Rathouly-PersonalUse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

