.ShippingReturnBlock{
    h2{
        margin-bottom: 3rem;
    }
    h5{
        font-size: 20px;
        color: $base;
        margin-bottom: 0;
        margin-top: 3rem;
    }
    p{
        margin-bottom: 0;
        margin-top: 3rem;
        line-height: 1.5;
        color: #626262;
        a{
            color: #626262;
            font-weight: 600;
        }
    }
    ul{
        margin: 0;
        list-style: none;
        padding-left: 2rem;
        li{
            margin-top: 2rem;
            font-family: $secondaryFont;
            color: #626262;
        }
    }
}

.SingleProductBlock{
    position: relative;
    .ProductSlider{
        /*display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;*/
        .slider-for{
            padding-left: 0rem;
            @media(min-width: 768px){
                padding-left: 12rem;
            }
            @media(min-width: 1100px){
                padding-left: 11rem;
            }
            @media(min-width: 1200px){
                padding-left: 12rem;
            }
            .item{
                img{
                    width: 100%;
                }
            }
        }
        .slider-nav{
            position: relative;
            top: 0px;
            left: 0px;
            max-width: 100%;
            flex-basis: 20%;
            padding: 1rem 0 0;
            z-index: 1;
            @media(min-width: 768px){
                position: absolute;
                top: 25px;
                left: 15px;
                max-width: 110px;
                flex-basis: 20%;
                padding: 0;
            }
            @media(min-width: 1140px){
                max-width: 100px;
                top: 33px;
            }
            @media(min-width: 1200px){
                max-width: 110px;
                top: 25px;
            }
            .slick-slide{
                margin-left:  5px;
                margin-right:  5px;
                @media(min-width: 768px){
                    margin-left:  0;
                    margin-right:  0;
                }
            }

            .slick-list {
                margin-left: -5px;
                margin-right: -5px;
                @media(min-width: 768px){
                    margin-left:  0;
                    margin-right:  0;
                }
            }
            .slick-list.draggable{
                padding: 0 !important;
            }
            .item{
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
            .slick-arrow{
                width: 15px;
                height: 45px;
                position: absolute;
                display: none;
                @media(min-width: 768px){
                    width: 25px;
                    display: block;
                }
                &.slick-prev{
                    left: 7px;
                    background: url(../img/arrow-top.svg) 0 0 no-repeat;
                    background-size: 80%;
                    top: 0rem;
                    @media(min-width: 768px){
                        left: 48px;
                    }
                    @media(min-width: 1100px){
                        left: 45px;
                        top: -5px;
                    }
                    @media(min-width: 1200px){
                        left: 48px;
                        top: 0rem;
                    }
                }
                &.slick-next{
                    right: 2px;   
                    background: url(../img/arrow-bottom.svg) 0 0 no-repeat;
                    background-size: 80%;
                    top: 46rem;
                    @media(min-width: 768px){
                        right: 40px; 
                    }
                    @media(min-width: 1100px){
                        right: 35px; 
                        top: 43.5rem;
                    }
                    @media(min-width: 1200px){
                        right: 40px;
                        top: 46rem; 
                    }
                }
                &:before{
                    display: none;
                }
            }
        }
    }
    .SingleProductContent{
        h2{
            font-family: $secondaryFont;
            font-size: 3rem;
            margin-top: 1.5rem;
            @media(min-width: 768px){
                font-size: 4rem;
                margin-top: 0;
            }
        }
        h3{
            font-family: $secondaryFont;
            font-size: 2.5rem;
            margin-bottom: 3rem;
            padding-bottom: 3rem;
            border-bottom: thin solid rgba($grey, 0.2);
            @media(min-width: 768px){
                font-size: 2.5rem;
                margin-top: .5em;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                font-size: 16px;
                font-family: $secondaryFont;
                color: $grey;
                margin: 5px 0;
            }
        }
        p{
            margin: 3rem 0 4rem;
            padding: 2rem 2.8rem;
            background-color: $lightgrey;
        }
        .ButtonsBlock{
            display: flex;
            align-items: center;
            .Quantity{
                display: flex;
                flex-basis: 20%;
                a {
                    text-decoration: none;
                    color: $grey;
                    padding: 0 .5em;
                }
                .Border{
                    border: thin solid rgba($grey, 0.25);
                    border-radius: 50px;
                    padding: 7px;
                    @media(min-width: 768px){
                        padding: 7px;
                    }
                    @media(min-width: 1100px){
                        padding: 7px;
                    }
                    @media(min-width: 1200px){
                        padding: 7px;
                    }
                }
            }
            .Addtocartbtn{
                color: $white;
                font-size: 14px;
                font-family: $secondaryFont;
                text-decoration: none;
                padding-bottom: 3px;
                background-color: $themebase;
                transition: 0.3s ease-in;
                padding: 10px 15px;
                border-radius: 50px;
                margin-top: 0;
                display: inline-flex;
                align-items: center;
                @media(min-width: 768px){
                    padding: 10px 30px;
                    font-size: 14px;
                }
                @media(min-width: 1100px){
                    padding: 10px 20px;
                }
                @media(min-width: 1200px){
                    padding: 10px 30px;
                }
                &:hover{
                    background-color: $darktheme;
                    color: $offgrey;
                }
                img{
                    width: 20px;
                    margin-left: 5px;
                }
            }
            .BaseBorderButton{
                padding: 9px;
                display: inline-flex;
                margin-left: 1rem;
                font-size: 14px;
                cursor: pointer;
                @media(min-width: 768px){
                    font-size: 14px;
                    padding: 9px 24px;
                }
                img{
                    margin-left: 5px;
                    width:20px;
                }
                .unfilled{
                    opacity: 1;
                    transition: 0.1s all;
                }
                .filledicon{
                    position: absolute;
                    top: 9px;
                    right: 24px;
                    transition: 0.1s all;
                    animation-name: wishlist-ani;
                    animation-duration: 1000ms;
                    opacity: 0;
                }
                &.filled{
                    .unfilled{
                        opacity: 0;
                    }
                    .filledicon{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .ProductDescription{
        margin-top: 4rem;
        p{
            line-height: 1.8;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}