.ThankyouBanner{
    position: relative;
    .BannerContent{
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        .Bannertext{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            h1{
                margin: 0;
                line-height: 1.1;
                margin-bottom: 2rem;
            }
            p{
                line-height: 1.5;
            }
        }
        img{
            border-radius: 50%;
            border: 2px solid $white;
        }
    }
    .BannerImg{
        width: 100%;
        display: block;
    }
}

.OrderBillingDetails{
    .BriefDeatils{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    border-right: thin solid $lightgrey;
                    width: 1px;
                    height: 50px;
                    right: -55px;
                    top: 5px;
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
                p{
                    font-size: 1.6rem;
                }
                h5{
                    font-size: 1.8rem;
                    margin-bottom: 0;
                    font-weight: 600;
                }
            }
        }
    }
    .OrderDetails{
        padding: 3rem 0;
        h4{
            margin-bottom: 1.5rem;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            border: thin solid $lightgrey;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                flex-wrap: wrap;
                border-bottom: thin solid $lightgrey;
                &:last-child{
                    border-bottom: 0;
                }
                .LeftText{
                    flex-basis: 75%;
                }
                .RightText{
                    flex-basis: 25%;
                }
                p{
                    margin: 5px 0;
                    span{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .BillingAddress{
        h4{
            margin-bottom: 1.5rem;
        }
        p{
            margin-bottom: 0.5rem;
            a{
                color: $grey;
                text-decoration: none;
            }
        }
    }
}